.product-item {
  padding: 1rem;
  transition: box-shadow .3s;
}

.product-item:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.product-link{
  text-decoration: none;
  color: inherit;
}

.product-img {
  height: 20.625rem;
  margin-bottom: 1.5rem;
}

.product-name,
.product-price {
  font-size: 1.125rem;
  line-height: 160%;
}

.product-name {
  font-weight: 300;
}

.product-price {
  font-weight: 500;
}
