.product-item {
  position: relative;
  padding: 1rem;
  transition: box-shadow 0.3s;
}

.product-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-img {
  height: 20.625rem;
  margin-bottom: 1.5rem;
}

.product-name,
.product-price {
  font-size: 1.125rem;
  line-height: 160%;
}

.product-name {
  font-weight: 300;
}

.product-price {
  font-weight: 500;
}

.cta {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
  background: #5ece7b;
  border: none;
  stroke: #fff;
  height: 3.25rem;
  width: 3.25rem;
  border-radius: 50%;
  transition: box-shadow 0.3s;
}

.cta:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
